<!DOCTYPE html>
<html lang="en" layout:decorate="~{baseWithSearchBar}" xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset = "utf-8"/>
<title>Account</title>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#circular--landscape {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

#circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

</style>
</head>
<body>
	<div layout:fragment="body" style="padding: 20px; padding-left: 250px">
	<form style="padding: 20px" class="form-horizontal">
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" id="circular--landscape" src="bendi.png">
				<!--<img class="media-object" id="circular--landscape" th:src="{user.image}">-->
			</div>
			<div class="media-body">
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">Benutzername</label>
					<div class="col-xs-6">
					<input type="text" class="form-control" id="name" name="name" th:value="${user.username}" readonly/>
					</div>
				</div>
				<div class="form-group">
					<label for="forename" class="col-sm-2 control-label">Vorname</label>
					<div class="col-xs-6">
					<input type="text" class="form-control" id="forename" name="forename" th:value="${user.forename}" readonly/>
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="col-sm-2 control-label">Nachname</label>
					<div class="col-xs-6">
					<input type="text" class="form-control" id="lastname" name="lastname" th:value="${user.lastname}" readonly/>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">E-Mail</label>
					<div class="col-xs-6">
					<input type="text" class="form-control" id="email" name="email" th:value="${user.email}" readonly/>
					</div>
				</div>
				<div class="form-group">
					<label for="birthdate" class="col-sm-2 control-label">Geburtstag</label>
					<div class="col-xs-3">
					<input type="text" class="form-control" id="birthdate" name="birthdate" th:value="${user.birthdate}" readonly/>
					</div>
				</div>
				<!--<div class="form-group">
					<label for="budget" class="col-sm-2 control-label">ProPay Guthaben</label>
					<div class="col-xs-3">	
						<div class="input-group">
							<div class="input-group-addon">€</div>
							<input type="text" class="form-control" th:value="${user.budget}" placeholder="Budget">
							<div class="input-group-addon">,00</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</form>

		<div style="padding: 20px">
			<table>
				<tr>
					<th width="80%"><font size="4">Ausgeliehene Objekte</font></th>
					<th width="10%">Von</th>
					<th width="10%">Bis</th>
					<th width="10%">Rückgabe</th>
				</tr>
				<tr th:each="borrow : ${user.borrowedItems}">
					<td th:text="${borrow.name}"></td>
					<td th:text="${borrow.startdate}"></td>
					<td th:text="${borrow.enddate}"></td>
					<td>
						<a th:href="@{'/'}" class="indexbtn">Rückgabe</a>
					</td>
				</tr>
			</table>
		</div>
		<div style="padding: 20px">
			<table>
				<tr>
					<th width="80%"><font size="4">Aufgegebene Objekte</font></th>
					<th width="10%">Bearbeiten</th>
					<th width="10%">Entfernen</th>
				</tr>
				<tr th:each="lend : ${lendItems}">
					<td th:text="${lend.name}"></td>
					<td>
						<a class="indexbtn" th:href="@{'/item?id=' + ${lend.id}}">Bearbeiten</a>
					</td>
					<td>
						<a class="indexbtn" th:href="@{'/delete?id=' + ${lend.id}}" >Entfernen</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>