<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <title>Sharing</title>

    <style>

        .bgimg {
            background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/04/24/51/235836866b71f0b.jpg');
        }

    </style>
</head>
<body>
<div style="padding: 20px; padding-left: 250px" class="bgimg">
    <h1><span style="font-size: 18pt">Welcome to</span> <span style="font-size: 30pt; color: #BD1D6F; font-weight: bold">SHARING</span></h1>
</div>
<div>
    <div layout:fragment="body">
        Body goes here
    </div>
</div>
</body>
</html>