<!DOCTYPE html>
<html lang="en" layout:decorate="~{baseWithSearchBar}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Konfliktmeldung</title>
    <style>
        .style {
            border-radius: 5px;
            background-color: #f2f2f2;
            margin-top: 2%;
            margin-left: 20%;
            margin-right: 20%;
        }

        .textPosition {
            text-align: center;
        }
    </style>
</head>
<body>

<div layout:fragment="body">
    <div class="style textPosition" style="padding: 20px">
        <h1><span type="text" style="font-size: 30pt; color: #BD1D6F" id="name" name="name" th:text="${conflict.item.name}"></span></h1>
        <div class="form-horizontal" style="padding-top: 60px">
            <input type="hidden" class="form-control" id="id" name="id" th:value="${conflict.item.id}" readonly/>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Objektname</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="name" name="name" th:value="${conflict.item.name}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="username" name="username" th:value="${conflict.owner.username}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="prosecuterEmail" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="prosecuterEmail" name="prosecuterEmail" th:value="${conflict.owner.email}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="accused" class="col-sm-2 control-label">Konfliktpartner</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="accused" name="accused" th:value="${conflict.borrower.username}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="email" name="email" th:value="${conflict.borrower.email}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="problem" class="col-sm-2 control-label">Problembeschreibung</label>
                <div class="col-xs-7">
                    <textarea class="form-control" id="problem" name="problem" th:inline="text" readonly>[[${conflict.problem}]]</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="indexbtn" href="/account" style="padding: 5px">Zurück</a>
            <a type="submit" class="indexbtn" th:href="@{'/owner?id=' + ${conflict.id}}" style="padding: 5px" name="button">Kaution Besitzer</a>
            <a type="submit" class="indexbtn" th:href="@{'/borrower?id=' + ${conflict.id}}" style="padding: 5px" name="button">Kaution Ausleiher</a>
        </div>
    </div>
</div>
</body>