<!DOCTYPE html>
<html lang="en" layout:decorate="~{baseWithSearchBar}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Sharing</title>
<style>
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
<div layout:fragment="body" style="padding-left: 50px; padding-right: 50px">
    <div class="alert alert-success" role="alert" th:if="${requested}" >Anfrage erfolgreich gestellt. Bitte sorgen Sie für aussreichend ProPray-Guthaben.</div>
    <div class="alert alert-danger" style="margin-top: 30px" role="alert" th:if="${ownItem}" >Eigenes Objekt nicht an sich selbst verleihbar.</div>
    <table>
        <tr>
            <th width="20%">Angebote</th>
            <th width="70%">Beschreibung</th>
            <th width="10%">Details</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${#strings.abbreviate(item.description,100)} "></td>
            <td>
                <a type="button" th:href="@{'/detailsItem?id=' + ${item.Id}}" class="indexbtn">Details</a>
            </td>
        </tr>
    </table>
</div>
</body>