<!DOCTYPE html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Nachrichten</title>
    <style>
        .style {
            border-radius: 5px;
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .gray {
            color: gray;
            font-weight: normal;
        }

        section {
            border-style: solid;
            border-width: 3px;
            border-radius: 5px;
            border-color: #f2f2f2;
        }
    </style>
</head>
<body>

<div layout:fragment="body">
    <div class="alert alert-success" role="alert" th:if="${succMessage}" th:text="${succMessage}"></div>
    <div class="alert alert-danger" role="alert" th:if="${errMessage}" th:text="${errMessage}"></div>
    <div class="row" style="padding: 20px">
        <div class="col-sm-5" style="padding: 20px; margin-left: 30px">
            <h1><span type="text" style="font-size: 30pt; color: #BD1D6F" id="name" name="name">Anfragen</span></h1>
            <div class="form-horizontal" style="padding-top: 30px">
                <div class="form-group" th:each="lendableItem : ${allMyLendableItems}">
                    <section th:each="request : ${lendableItem.requests}" class="media" style="padding: 20px; height: 115px">
                        <div class="media-left" style="padding-right: 80px">
                            <p style="font-size: 24px">
                                <a th:href="@{'/lendableItemDetails?id=' + ${lendableItem.Id}}" th:text="${lendableItem.name}" style="color: #BD1D6F"></a>
                            </p>
                        </div>
                        <div class="media-body">
                            <div class="gray">
                                <span style="font-weight:bold; padding-right: 7px">von</span>
                                <span th:text="${request.requester.username}"></span>
                            </div>
                            <div>
                                <span style="font-weight:bold; padding-right: 7px">von</span>
                                <span th:text="${#temporals.format(request.period.startdate,'dd-MM-yyyy')}"></span>
                                <span style="font-weight:bold; padding-left: 7px; padding-right: 7px">bis</span>
                                <span th:text="${#temporals.format(request.period.enddate,'dd-MM-yyyy')}"></span>
                            </div>
                        </div>
                        <div class="media-right" style="overflow: auto">
                            <a class="indexbtn style" th:href="@{'/acceptRequest?id=' + ${request.id}}" style="margin-bottom: 10px; float: right">Akzeptieren</a>
                            <a class="indexbtn style" th:href="@{'/declineRequest?id=' + ${request.id}}" style="float: right">Ablehnen</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5" style="padding: 20px; margin-right: 30px">
            <h1><span type="text" style="font-size: 30pt; color: #BD1D6F" id="name" name="name">Angefragt</span></h1>
            <div class="form-horizontal" style="padding-top: 30px">
                <div class="form-group" th:each="lendableItem : ${myRequestedLendableItems}">
                    <section th:each="request : ${lendableItem.requests}" th:if="${request.requester == user}" class="media" style="padding: 20px; height: 115px">
                        <div class="media-left" style="padding-right: 80px">
                            <p style="font-size: 24px">
                                <a th:href="@{'/lendableItemDetails?id=' + ${lendableItem.Id}}" th:text="${lendableItem.name}" style="color: #BD1D6F"></a>
                            </p>
                        </div>
                        <div class="media-body">
                            <div class="gray">
                                <span style="font-weight:bold; padding-right: 7px">an</span>
                                <span th:text="${lendableItem.owner.username}"></span>
                            </div>
                            <div>
                                <span style="font-weight:bold; padding-right: 7px">von</span>
                                <span th:text="${#temporals.format(request.period.startdate,'dd-MM-yyyy')}"></span>
                                <span style="font-weight:bold; padding-left: 7px; padding-right: 7px">bis</span>
                                <span th:text="${#temporals.format(request.period.enddate,'dd-MM-yyyy')}"></span>
                            </div>
                        </div>
                        <div class="media-right" style="overflow: auto">
                            <a class="indexbtn style" th:href="@{'/deleteRequest?id=' + ${request.id}}" style="float: right">Löschen</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</body>